
<footer class="footer">
  <div class="copyright-section">
    <div class="container">
      <div class="col-md-12">
        <div class="copytext text-center">
          <p>&copy; 2018 <strong>TECH</strong>IN<strong>PORTO</strong></p>
          <p>
            <a href="https://www.facebook.com/techinporto/" target="_blank" class="social">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="https://twitter.com/techinporto" target="_blank" class="social">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="https://www.youtube.com/channel/UC68_0ykcFWp8OOOpLXnJNPQ" target="_blank" class="social">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="https://www.instagram.com/techinporto/" target="_blank" class="social">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </p>
        </div>
        <div class="copytext text-center">
          <p>
            <a href="/code-of-conduct">CODE OF CONDUCT</a> |
            <a href="mailto:info@techinporto.com">CONTACT</a>
          </p>
        </div>
      </div>
    </div>
    <!-- .container -->
  </div>
  <!-- .copyright-section -->
</footer>
<!-- .footer -->
