.jumbotron {
  align-items: center;
  background-color: $header-bg-color;
  background-image: url('/img/header/bg-header@2x.jpg');
  color: $header-color;
  display: flex;
  justify-content: center;

  .logo {
    max-height: 217px;
    max-width: 100%;
  }

  .event-date {
    margin-top: 60px;

    p {
      font-size: 25px;
      font-weight: 900;
    }
  }

  @media (max-width : 768px) {
    padding: 0 20px;
  }
}
