.navbar,
.main-menu {
  background-color: $navbar-bg;
  padding: 15px 0;
  transition: all .3s ease-in-out;

  .navbar-header {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 0;
  }

  .nav {
    padding: 15px 0;

    .open a {
      background-color: transparent;
    }
  }

  // links
  li {
    margin: 0 16px;

    a {
      border: 0;
      color: $navbar-link;
      font-weight: 500;
      padding: 10px;

      &:hover,
      &:focus {
        background-color: transparent;
        color: $navbar-hover;
      }

      @media (max-width : 768px) {
        color: $navbar-mobile;
        margin: 0 20px;
        padding: 15px 20px;
      }
    }

    // button
    a.btn {
      background-color: $navbar-btn;
      border-radius: 4px;
      color: $navbar-btn-link;

      &:hover,
      &:focus {
        background-color: $navbar-btn-hover;
        color: $navbar-btn-link-hover;
      }

      @media (max-width : 768px) {
        margin-bottom: 15px;
      }
    }
  }

  .navbar-toggle {
    margin: 0;
    order: 2;
    padding: 0;
  }

  // dropdown
  .dropdown-menu {
    background-color: $dropdown-bg;
    min-width: $dropdown-width;

    a {
      color: $primary-darker;
    }
  }
}

// sticky navigation
.sticky-nav {
  background-color: $stickynav-bg;
  transition: all .3s ease-in-out;

  li {
    a {
      &:hover {
        color: $stickynav-link-hover;
      }
    }

    a.btn-secondary {
      color: $navbar-btn-link;

      &:hover {
        background-color: $navbar-btn-hover;
        color: $navbar-btn-link-hover;
      }
    }
  }
}
