body {
  font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-weight: $heading-weight;
}

h1 {
  font-size: $h1-size;
  margin-bottom: $h1-margin;
  text-align: center;
  text-transform: uppercase;
}

h2.sponsor-title {
  color: $gray;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}


a {
  color: $secondary;

  &:hover,
  &:focus {
    border-bottom: 2px solid $secondary;
    color: $secondary;
    text-decoration: none;
  }

  &.navbar-brand {
    &:hover,
    &:focus {
      border-bottom: 0;
    }
  }
}

.underline {
  border-bottom: 2px solid $secondary;
  color: $secondary;
}

.lead {
  color: $text-color;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.6;
}

.text-light {
  font-weight: 300;
}

.text-white {
  color: $white;
}

.text-secondary {
  color: $secondary;
}

.text-center {
  text-align: center;
}

.text-serif {
  font-family: $font-family-serif;
}
