---
layout: main
stickynav: true
body-class: page-speaker
---
{% capture the_collection %}{{page.collection}}{% endcapture %}
{% if page.collection %}
    {% assign  document = site[the_collection] | sort: 'added'  %}
{% endif %}
{% for links in document  %}
  {% if links.name == page.name %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevname = prev.name %}
      {% assign prevtalk = prev.talk %}
      {% assign prevrole = prev.role %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
      {% assign nextname = next.name %}
      {% assign nexttalk = next.talk %}
      {% assign nextrole = next.role %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}
<section class="section-speaker section-speaker-title">
    <div class="container">
      <div class="grid grid-2 align-center mb-0">
        <div class="speaker">
          <div class="speaker-photo-container">
            <img src="{{page.photo}}" alt="{{ page.name }}" class="speaker-photo">
            <div class="overlay"></div>
          </div>
          <h2 class="text-white">{{ page.name }}</h2>
          <p class="text-white">
            <strong>{{page.role}}</strong>
          </p>
        </div>
  
        <div class="">
          <h2 class="text-secondary">Bio</h2>
          <p class="text-white">{{page.bio}}</p>
            {% if page.twitter %}
            <a href="{{page.twitter}}" class="social" target="_blank">
                <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            {% endif %}
            {% if page.linkedin %}
            <a href="{{page.linkedin}}" class="social" target="_blank">
                    <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            {% endif %}
            {% if page.link %}
                <a href="{{page.link}}" class="social" target="_blank">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
            {% endif %}
        </div>

      </div>
    </div>
  </section>
  
  <section class="section-papers">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-6">
          <h2 class="text-white">{{page.talk}}</h2>
          <p>
            {{page.description}}
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section-speaker section-speaker-more">
    <div class="container">
      <h2 class="text-white text-center">Want more?</h2>
  
      <div class="grid grid-2 mb-0">
        <div>
            {% if prevurl %}
                <p>
            <a href="{{prevurl}}" class="text-white">
                <strong>{{prevname}}</strong>
            </a>
          </p>
          <p class="text-white">
                <strong>{{prevrole}}</strong>
              </p>
          <p>
            <a href="{{prevurl}}">
              <strong><span class="underline">{{prevtalk}}</span></strong>
            </a>
          </p>
          
          {% endif %}
        </div>
        <div class="text-right">
                {% if nexturl %}
                <p>
            <a href="{{nexturl}}" class="text-white">
                    <strong>{{nextname}}</strong>
            </a>
          </p>
          <p class="text-white">
                <strong>{{nextrole}}</strong>
              </p>
          <p>
            <a href="{{nexturl}}">
              <strong><span class="underline">{{nexttalk}}</span></strong>
            </a>
          </p>
         
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  